html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.7;
  scroll-behavior: smooth;
}

body {
  background-color: #fffdfa;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-header {
  color: #707070;
  background-color: #fff7ef;
}
.l-header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 1280px) {
  .l-header__content {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 25px;
  }
}
.l-header__button {
  color: #707070;
  -webkit-animation: 300ms;
          animation: 300ms;
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 1280px) {
  .l-header__button {
    display: none;
  }
}
.l-header__title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media (min-width: 1280px) {
  .l-header__title {
    margin-bottom: 0;
  }
}

.l-nav {
  color: #707070;
  background-color: #f2ede9;
  width: 87%;
  height: 100%;
  display: block;
}
@media (min-width: 768px) {
  .l-nav {
    width: 44%;
  }
}
@media (min-width: 1280px) {
  .l-nav {
    width: 19%;
  }
}

.l-fv {
  color: #fff;
}
.l-fv__img {
  height: 285px;
  width: 100%;
}
@media (min-width: 1280px) {
  .l-fv__img {
    height: 530px;
    width: 81%;
  }
}

input {
  height: 38px;
  border: solid 1.5px #707070;
  border-radius: 8px;
}

.c-form__mark {
  display: flex;
  position: relative;
}
@media (min-width: 1280px) {
  .c-form__mark {
    display: block;
  }
}

.c-form__mark::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url(/./img/icon.png) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 6px;
}

.c-form__keyword {
  background-color: #fff;
  margin-right: 15px;
  text-indent: 3rem;
}

.c-form__button {
  font-size: 1.3rem;
  font-weight: 500;
  background: linear-gradient(-90deg, #f2ede9, #ded8d3);
}

.c-nav__menu {
  padding-left: 66px;
}
/*# sourceMappingURL=style.css.map */