@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-inner {
  padding: 0 15px;
  @include breakpoint(tablet) {
    padding: 0 46px;
  }
  @include breakpoint(pc) {
    padding: 0 85px;
  }
}