@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-text {
  &-archive {
    font-size: 1.6rem;
    position: absolute;
    top: 38px;
    left: 42px;
    font-weight: 700;
    @include breakpoint(tablet) {
      font-size: 1.6rem;
      top: 5px;
      left: 240px;
    }
  }
  &__theme {
    p {
      padding: 25px 0 15px;
    }
  }

  // Single page
  &__single {
    h2, h3 {
      padding: 30px 0 20px;
      @include breakpoint(tablet) {
        padding: 60px 0 50px;
      }
    }
    h4, h5, h6 {
      padding-bottom: 25px;
      @include breakpoint(tablet) {
        padding-bottom: 60px;
      }
    }
  }
  &__bold {
    font-weight: bold;
    margin: 30px 20px 70px;
    @include breakpoint(tablet) {
      margin: 60px 50px 140px;
    }
    @include breakpoint(pc) {
      margin-left: 90px;
      margin-bottom: 240px;
    }
  }
}