@use "../../foundation/mixin" as *;

.u-container {
  display: block;
  @include breakpoint(pc){
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 140px 1fr 125px;
  }
}