@use "../foundation/mixin" as m;

.u-access__line {
  border: 1px solid red;
  width: 75px;
  // position: absolute;
  // top: 0;
  // left: 40px;
  @include m.breakpoint(pc){
    left: 120px;
  }
}