@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-footer__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 16px 0;
  gap: 55px;
  @include breakpoint(tablet){
    gap: 30px;
    padding: 20px 0 15px;
  }
  @include breakpoint(pc){
    gap: 15px;
    padding: 30px 0 20px;
  }
  span {
    margin-left: 18px;
    position: relative;
  }
  span::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 19px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -8px;
  }
}
