@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

// Archive page
.p-lists {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  @include breakpoint(pc) {
    row-gap: 25px;
  }
}
.p-list {
  width: 100%;
  height: auto;
  background-color: $color-brown;
  @include breakpoint(tablet) {
    display: flex;
    width: 100%;
  }
  img {
    width: 100%;
    object-fit: cover;
    @include breakpoint(tablet) {
      width: 50%;
    }
  }
}