@use "../foundation/mixin" as m;

.l-fv {
  color: #fff;
  &__title {
    background: url(/img/saittitle.jpg) center/cover no-repeat;
    width: 100%;
    height: 300px;
    padding-left: 25px;
    line-height: 300px;
    @include m.breakpoint(tablet){
      padding-left: 80px;
    }
    @include m.breakpoint(pc){
      height: 500px;
      line-height: 500px;
    }
  }
}
