@use "../foundation/mixin" as m;

.l-fv {
  color: #fff;
  position: relative;
    // @include m.breakpoint(pc){
    //   height: 530px;
    //   width: 81%;
    // }
  &__title {
    position: absolute;
    top: 50%;
    left: 25px;
  }
}
