@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

.l-header {
  color: $color-font-70;
  background-color: $color-header;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  grid-column: 1;
  grid-row: 1;
  @include breakpoint(pc){
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 0 0;
  }
}
