@use "../foundation/variable" as v;
@use "../foundation/mixin" as m;

.l-nav {
  color: v.$color-font-70;
  background-color: v.$color-sidebar-bg;
  width: 87%;
  height: 100%;
  display: none;
  @include m.breakpoint(tablet){
    width: 44%;
  }
  @include m.breakpoint(pc) {
    display: block;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  &__title {
    display: none;
    @include m.breakpoint(pc){
      display: block;
      padding: 60px 0 90px 38px;
      font-size: 2.8rem;
      font-weight: 700;
    }
  }
  
  &__menu {
    padding-top: 100px;
    @include m.breakpoint(pc){
      padding: 0;
    }
  }
}