@use "../foundation/variable" as v;
@use "../foundation/mixin" as m;

.l-nav {
  color: v.$color-font-70;
  background-color: v.$color-sidebar-bg;
  width: 87%;
  height: 100%;
  display: block;
  @include m.breakpoint(tablet){
    width: 44%;
  }
  @include m.breakpoint(pc) {
    width: 19%;
  }
  &__title {
    padding: 80px 0 90px 38px;
    font-size: 2.8rem;
    font-weight: 700;
    @include m.breakpoint(pc){
      display: none;
    }
  }
  
  &__menu {
    @include m.breakpoint(pc){
      padding-top: 170px;
    }
  }
}