@use "../foundation/mixin" as m;

.c-section {
  display: flex;
  flex: 1 0 50%;
  height: auto;
  position: relative;
  a {
    align-self: flex-end;
  }
  
  &__title {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 13px;
    font-size: 3rem;
    @include m.breakpoint(pc){
      font-size: 5rem;
    }
    &::after {  // タイトル下の線
      content: "";
      width: 30px;
      height: 4px;
      display: inline-block;
      background-color: #fff;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }
  &:first-child {
    margin-bottom: 20px;
    @include m.breakpoint(tablet){
      margin: 0;
    }
  }
}

.takeout_bg {
  background: url(/img/takeout.jpg) center / cover;
}
.eatin_bg {
  background: url(/img/eatin.jpg) center / cover;
}