@use "../foundation/mixin" as *;

.access_bg {
  background: url(/img/access.jpg) top left / cover;
  opacity: 0.6;
}

.p-access {
  &__content {
    display: block;
    height: auto;
    // position: relative;
    p {
      color: #fff;
      // position: absolute;
      // top: 110px;
      // left: 0;
      padding: 20px 40px 50px;
      z-index: 2;
      @include breakpoint(pc){
        width: 44%;
        // top: 250px;
        // left: 120px;
        padding: 0;
      }
    }
    h2 {
      z-index: 2;
    }
    h2::after {
      content: "";
      width: 75px;
      height: 2px;
      display: inline-block;
      background-color: #fff;
      position: absolute;
      bottom: -10px;
      left: 0;
      @include breakpoint(pc){
        bottom: -50px;
      }
    }
    // 黒半透明を重ねるところ
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: rgba(0,0,0,.3);
      z-index: 1;
      @include breakpoint(tablet){
        height: 100%;
      }
      @include breakpoint(pc){
        width: 60%;
      }
    }
  }
}
