@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

.p-theme__content {
  padding: 20px 20px 25px;
  @include breakpoint(tablet){
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
  }
  @include breakpoint(pc){
    padding: 100px 100px 100px;
    gap: 80px;
  }
}

.p-theme__lists {
  padding: 0 16px 16px;
  color: $color-font-10;
  margin-top: 300px;
  // position: absolute;
  // top: 200px;
  // left: 0;
  display: flex;
  flex-direction: column;
}

.p-theme__list {
  background: rgba(255,255,255,0.8);
  padding: 16px;
  &:first-child {
    margin-bottom: 16px;
  }
  & p {
    flex-grow: 1;
  }
}